html {
    background-color: rgb(255, 234, 219);   
}
body {
      background-color: rgb(255, 234, 219);   
}
.overlay {
  
    height: 1em;
}

.nav-color{
      background-color:rgb(230, 211, 198);
}
.dropdown-menu {
    padding: 0px;
}
span.navbar-toggler-icon {
    background-image: url(https://i.ibb.co/1v9M0dZ/menu.png) !important;
    width: 25px;
    height: 25px;
	cursor:pointer;
}
button.navbar-toggler:focus {
    outline: none;
}


.banner-innner {
    padding-top: 3em;
}

.leaderboard {
    display: block;
    background-color: #CDBEB4;
    min-height: 2em;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0;
    margin-left: 0;
}
.leaderboard .row {
    margin-right: 0px;
    margin-left: 0px;
}

.leaderboard .row .col-12 {
    margin-right: 0px;
    margin-left: 0px;
}

.btn {
    border-radius: 0;
}

footer {
    padding: 60px 0;
}

footer .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}
footer {
    background: #007b5e !important;
}
footer h5{
	padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}
footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
footer ul.social li{
	padding: 3px 0;
}
footer ul.social li a i {
    margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}
footer ul.social li a,
footer ul.quick-links li a{
	color:#ffffff;
}
footer ul.social li a:hover{
	color:#eeeeee;
}
footer ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:700;
}
footer ul.quick-links li a i{
	margin-right: 5px;
}
footer ul.quick-links li:hover a i {
    font-weight: 700;
}

@media (max-width:767px){
	footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
}
}
[data-f-id = "pbf"] {
    visibility:hidden
}
.breadcrumb {
    background: none;
}
